#login{
		background : black;
border: solid 10px #313131; border-radius: 5px;
	}
	#login > a{
			color: white;
		    margin-top : 25%;
		    text-decoration : none;
		
		    
	}
#login > a:hover{
			
		    margin-top : 25%;
		    
	color: black; background: #e05f1d; text-decoration:none;
		    
	}
	#login >.outer{
		height:500px;
		opacity:1;
	}
	#login > .form{
		/*border:1px solid white;
		border-radius:2%;*/
		width:50%;
		height:250px;
		color:#fff;
		text-align:center;
		padding-top:4%;
		margin-left:25%;
		opacity:0.7;
	}
	#login input[type="password"] {
	    margin-left: 17%;
	}
	#login input {
	    margin-left: 5%;
	}
	#login input[type="text"] {
	    margin-left: 16%;
	}
	#login input[type="submit"]{
			background: url("images/login.jpg") no-repeat scroll -169px -165px rgba(0, 0, 0, 0);
		    border-radius: 28px;
		    height: 50px;
		    margin-top: 4%;
		    width: 50px;
		    margin-left: 65%;
		    cursor:pointer;
	}
	#login .star{
		color:red;
	}
	
