/*----- Start "Main definitions" -----*/
* { padding: 0; margin: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 1.2;
    font-family: Arial, "Trebuchet MS", sans-serif;
    color: #a0a0a0;
    background: url(images/bg.gif) repeat 0 0;
    text-align: left;
}

a img { border: 0; }
a { color: white; text-decoration: none; }
a:hover { text-decoration: none; color: black; background: #e05f1d;}

.left { float: left; display: inline; }
.right { float: right; display: inline; }

.cl, .clear { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.field { font-size: 12px; color: #484848; font-family: Arial, "Trebuchet MS", sans-serif; color: #000; border: solid 1px #a0a0a0; width: 140px; padding: 2px 5px; }
/*----- End "Main definitions" -----*/

.shell { width: 914px; margin: 0 auto; }

#page { padding-bottom: 30px; }

#header { width: 100%; position: relative; margin-bottom: 5px; }

/*done*/
#logo {background: url(images/header.jpg); height: 155px; width: 915px; padding-bottom: 15px; margin-bottom: 15px; }

#top-nav { float: right; display: inline; margin-bottom: 2px; }
#top-nav ul { float: left; display: inline; font-size: 10px; line-height: 31px; color: #fff; text-transform: uppercase; background: url(images/top-nav-bg.jpg) repeat-x 0 0; }
#top-nav ul li { float: left; display: inline; list-style-type: none; }
#top-nav ul li a { float: left; display: inline; color: #fff; text-decoration: none; padding: 0 10px 0 8px; background: url(images/top-nav-sep.gif) no-repeat right 0; }
#top-nav ul li.home { width: 88px; background: url(images/top-nav-home.gif) no-repeat 0 0; }
#top-nav ul li.home a { background: none; width: 67px; height: 31px; line-height: 29px; padding: 0; color: #141414; font-weight: bold; padding-left: 21px; }
#top-nav ul li.home a:hover { background: #e05f1d; text-decoration:none; width: 67px; height: 31px; line-height: 29px; padding: 0; color: #141414; font-weight: bold; padding-left: 21px; }


#main-nav { float: right; display: inline; line-height: 32px; background: url(images/main-nav-bg.gif) repeat-x 0 0; }
#main-nav .bg-right { background: url(images/main-nav-bg-right.gif) no-repeat right 0; }
#main-nav .bg-left { background: url(images/main-nav-bg-left.gif) no-repeat 0 0; padding-left: 32px; width: 676px; }
#main-nav ul { height: 32px; font-size: 10px; color: #a8a8a8; text-transform: uppercase; }
#main-nav ul li { float: left; display: inline; list-style-type: none; background: url(images/main-nav-sep.gif) no-repeat right 0; }
#main-nav ul li a { float: left; display: inline; text-decoration: none; color: #a8a8a8; padding: 0 11px 0 9px; }
#main-nav ul li a:hover { background: #e05f1d; text-decoration:none; color: black; }
/*done till here*/

#sort-nav { line-height: 46px; background: url(images/sort-nav-bg.gif) repeat-x 0 0; }
#sort-nav .bg-left { background: url(images/sort-nav-bg-left.gif) no-repeat 0 0; position: relative; height: 46px; }
#sort-nav .bg-right { background: url(images/sort-nav-bg-right.gif) no-repeat right 0; position: relative; height: 46px; }
#sort-nav ul li { float: left; display: inline; list-style-type: none; height: 46px; }
#sort-nav ul li a { float: left; display: inline; font-size: 13px; font-weight: bold; color: #282828; text-decoration: none; padding: 0 19px; }
#sort-nav ul li span.sep { float: left; display: inline; width: 2px; height: 46px; font-size: 0; line-height: 0; text-indent: -4000px; background: url(images/sort-nav-sep.gif); }
#sort-nav ul li a:hover {  background: #e05f1d; text-decoration:none; color: black; }
#sort-nav ul li.active a { color: #fff; text-decoration: none; }
#sort-nav ul li.active a:hover { text-decoration: none; }
#sort-nav ul li.first-active a { background: url(images/nav-active-first.gif) no-repeat 0 0; }
#sort-nav ul li.active span.sep { background-image: url(images/nav-active-sep.gif); }
#sort-nav ul li.active { background: url(images/nav-active-bg.gif) repeat-x 0 0; }

#main {  padding-top: 10px; }
#main-bot { background: url(images/main-bot-bg.gif) no-repeat 0 bottom; padding: 0 10px 2px 10px; height: 100%; position: relative; }
#sidebar { float: left; display: inline; width: 226px; }
#content { float: right; display: inline; width: 657px; }

.block { margin-bottom: 10px; background-repeat: no-repeat; background-position: 0 0; }
.block .block-bot { height: 100%; position: relative; background-repeat: no-repeat; background-position: 0 bottom; }
.block .block-cnt { padding: 10px 10px 10px 9px; }

.block .head { background: url(images/block-head.gif) no-repeat 0 0; padding-left: 15px; }
.block .head .head-cnt { background: url(images/block-head.gif) no-repeat right 0; line-height: 38px; height: 38px; padding-right: 13px; }
.block .head h3 { font-size: 15px; font-weight: bold; color: #262727; }
.block .head .view-all { float: right; display: inline; width: 61px; height: 18px; line-height: 16px; background: url(images/block-head-view-all.gif); margin-top: 12px; }
.block .head .view-all { color: #656565; font-size: 12px; text-decoration: none; text-align: center; }
.block .head .view-all:hover { color: black; font-size: 12px; background: #e05f1d; text-decoration:none; }

#content .block { background-image: url(images/content-block-top.gif); background-color: #313131; width: 657px; }
#content .block .block-bot { background-image: url(images/content-block-bot.gif); }

#sidebar .block { background-image: url(images/sidebar-block-top.gif); background-color: #484848; width: 226px; }
#sidebar .block .block-bot { background-image: url(images/sidebar-block-bot.gif); }

/*done*/
#sign .block-cnt { padding: 6px 5px 5px 5px; }

#csignin
{
padding:70px;
text-align: center; font-size: 20px; line-height: 16px; margin-top: 4px; 
text-transform: uppercase;
text-decoration:none;
}
#csignin:hover
{
padding-left:70px;
padding-top:2px;
padding-bottom:2px;
text-align: center; font-size: 20px; line-height: 16px; margin-top: 4px; 
text-transform: uppercase;
color:black;
text-decoration:none;
background: #e05f1d; 
}
/*done till here*/

#sidebar .articles .article { padding: 8px 7px; background: url(images/sidebar-article-sep.gif) repeat-x 0 bottom; font-size: 11px; color: #a0a0a0; }
#sidebar .articles h4 { color: #fff; font-weight: bold; font-size: 12px; }
#sidebar .articles h4 a { color: #fff; text-decoration: none; }
#sidebar .articles h4 a:hover { color: #ccc; }
#sidebar .articles .view-all { font-size: 10px; letter-spacing: 0.5px; line-height: 24px; float: right; display: inline; margin-right: 6px; }

#sidebar .image-articles .image { float: left; display: inline; width: 55px; }
#sidebar .image-articles .image img { padding: 1px; border: solid 1px #1e1e1e; width: 51px; height: 51px; }
#sidebar .image-articles .cnt { float: right; display: inline; width: 150px; }

#sidebar .text-articles .article { padding: 8px 10px; font-size: 12px; }
#sidebar .text-articles h4 { font-size: 13px; }

#content .articles h4 { font-size: 19px; font-weight: bold; color: #ccc; margin: 4px 0 2px; }
#content .articles h4 a { text-decoration: none; color: #ccc; }
#content .articles h4 a:hover { color: #fff; }

#content .col-articles .image img { padding: 1px; border: solid 1px #050505; width: 194px; height: 194px; }
#content .col-articles .article { float: left; display: inline; margin: 17px 0 10px 15px; width: 198px; }

#content .row-articles .article { padding: 10px 15px 12px 15px; background: url(images/content-article-sep.gif) repeat-x 0 bottom; }
#content .row-articles .last-article { background: none; }
#content .row-articles .image { float: left; display: inline; width: 194px; }
#content .row-articles .image img { width: 194px; }
#content .row-articles .cnt { float: right; display: inline; width: 420px; }
#content .row-articles h4 { margin-top: 0; line-height: 20px; }
#content .row-articles h4 a { color: #e4e4e4; }

#slider { width: 638px; height: 357px; position: relative; }
#slider .buttons { position: absolute; top: 250px; right: 15px; z-index: 101; }
#slider .buttons span { float: left; display: inline; width: 28px; height: 27px; font-size: 0; line-height: 0; text-indent: -4000px; cursor: pointer; margin-left: 2px; }
#slider .buttons span.prev { background: url(images/button-prev.png) no-repeat 0 0; }
#slider .buttons span.next { background: url(images/button-next.png) no-repeat 0 0; }
#slider .holder { width: 638px; height: 357px; position: relative; overflow: hidden; }
#slider .content { height: 357px; width: 100000px; position: absolute; top: 0; left: 0; }
#slider .fragment { float: left; display: inline; width: 638px; height: 357px; list-style-type: none; }
#slider .fragment .image { position: relative; width: 638px; height: 287px; }
#slider .frame { width: 638px; height: 287px; position: absolute; top: 0; left: 0; z-index: 100; background: url(images/slider-image-bg.png) no-repeat 0 0; }
#slider .frame { font-size: 0; line-height: 0; text-indent: -4000px; }
#slider .fragment .cnt { margin-top: 5px; height: 49px; background: url(images/slider-cnt-bg.gif) repeat-x; color: #fff; font-size: 11px; line-height: 1.4; padding: 8px 15px; }
#slider .fragment .cnt .side-a { float: left; display: inline; width: 150px; }
#slider .fragment .cnt .side-b { float: right; display: inline; width: 430px; }
#slider .fragment .cnt h4 { font-size: 19px; font-weight: bold; color: #212121; text-transform: uppercase; margin-bottom: 5px; }
#slider .fragment .cnt .rating li { float: left; display: inline; list-style-type: none; font-size: 9px; color: #050505; text-transform: uppercase; margin-right: 1px; }
#slider .fragment .cnt .rating li .star { float: left; display: inline; width: 15px; height: 15px; font-size: 0; line-height: 0; text-indent: -4000px; }
#slider .fragment .cnt .rating li .empty-star { background: url(images/empty-star.gif); }
#slider .fragment .cnt .rating li .full-star { background: url(images/full-star.gif); }
#slider .fragment .cnt .rating li .votes { float: left; display: inline; margin-top: 3px; margin-left: 4px; }
  
#footer .copy { font-size: 10px; color: #363636; text-transform: uppercase; text-align: right; padding: 20px 0; }
#footer .copy a{ color: #363636; }
#footer .navs { background: #222 url(images/footer-navs-top.gif) no-repeat 0 0; text-align: center; font-size: 15px; color: #656565; height: 100%; position: relative; }
#footer .navs .navs-bot { background: url(images/footer-navs-bot.gif) no-repeat 0 bottom; height: 100%; position: relative; }
#footer .navs ul { margin: 10px 0; }
#footer .navs ul li { list-style-type: none; display: inline; padding: 0 6px; }
#footer .navs ul li a { color: #e05f1d; text-decoration: none; }
#footer .navs ul li a:hover { text-decoration: none; color:black; }

#clogin
{
background: black;border: solid 10px #313131; border-radius: 5px;
}
#cloginform
{
padding: 30px;
}
#cfieldsetlogin
{
 border:2px solid #e05f1d 
}
#cfieldsetlogin legend 
{
  padding: 0.2em 0.5em;
 
  color:#e05f1d;
  font-size:20px;
  text-align:right;
  }
#cloginform table
{
padding-left: 82px;
padding-top: 82px;
padding-right: 82px;
padding-bottom: 22px;
}
#cloginform td
{
font-size: 20px;
padding-left: 10px;
padding-bottom: 16px;
padding-top: 16px;
padding-right: 5px;
}
#csubmit
{
font-size: 20px;
color: #e05f1d;
padding:5px;
}
#csubmit:hover
{
background: #e05f1d;
color:black;
}

 
#animated-div {
    width: 30px;
    height: 30px;
    background: red;
    font-stretch: expanded;
    position: relative;
    padding: 10px;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myfirst;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:600px; top:0px;}
    50%  {background:blue; left:600px; top:710px;}
    75%  {background:green; left:0px; top:710px;}
    100% {background:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:600px; top:0px;}
    50%  {background:blue; left:600px; top:710px;}
    75%  {background:green; left:0px; top:710px;}
    100% {background:red; left:0px; top:0px;}
}

#back
{
    float: right;
font-size: 20px;
color: #e05f1d;
padding:5px;
}
#back:hover
{
    float: right;
     font-size: 20px;
background: #e05f1d;
color:black;
    padding:5px;
}

.vsclass
{
    font-size: 20px;
color: #e05f1d;
padding:5px;
}

.vsclass:hover
{ font-size: 30px;
   padding:5px;
background: #e05f1d;
color:black;
}
#gridsize
{
    margin: 10px;
    border: solid 3px #e05f1d;
}
#gridform h3
{
padding-top: 20px;
    padding-left:20px;
    color: black;
}
#gridform h4
{
    padding-top: 2px;
    padding-left:20px;
    color: black;
}
#grid_size_x
{
    width: 200px;
    
    
}
#gridform td
{
    color: black;
font-size: 15px;
padding-left: 20px;
padding-bottom: 16px;
padding-top: 1px;
padding-right: 5px;
}
#customize
{
	padding: 5px;
	font-size: 15px;
	color:	#e05f1d;
	
}

#customize:hover
{
	padding: 5px;
	font-size: 20px;
	color: black;
	background: #e05f1d;
}

#messageanimate
{
	
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

	

#messageanimate
{
	
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    font-size:2px;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    font-size:20px;
    width: 100%;
  }
  25%
  {
  font-size: 5px;
  margin-left:75%;
  width: 250%;
  }
  50%
  { font-size: 10px;
  margin-left:50%;
  width:200%;
  }
  75% {
  font-size: 15px%;
  margin-left: 25%;
  width: 150%;
}
}

#historyanimate
{
 animation-duration: 6s;
  animation-name: slidein1;
}

@keyframes slidein1 {
  from {
    margin-left: 100%;
    font-size:2px;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    font-size:15px;
    width: 100%;
  }
  25%
  {
  font-size: 5px;
  margin-left:75%;
  width: 250%;
  }
  50%
  { font-size: 7px;
  margin-left:50%;
  width:200%;
  }
  75% {
  font-size: 12px%;
  margin-left: 25%;
  width: 150%;
}
}	
#movesanimate
{
	
  animation-duration: 12s;
  animation-name: slidein3;
}
@keyframes slidein3 {
  from {
    margin-top: 100%;
    margin-left: 100%;
    font-size:2px;
    width: 300%; 
  }

  to {
    margin-top: 0%;
    font-size:15px;
    margin-top: 0%;
    width: 100%;
  }
  25%
  {
  font-size: 5px;
  margin-top:75%;
  margin-left:25%;
  width: 250%;
  }
  50%
  { font-size: 7px;
  margin-top:50%;
  margin-left:50%;
  width:200%;
  }
  75% {
  font-size: 12px;
  margin-top: 25%;
  margin-left:25%;
  width: 150%;
}
}

#resulttable tr:nth-child(even) {background: #888a85;}
#resulttable tr:nth-child(odd) {background: #FFF;}
